<h3 class="setlist-header"><strong>Set 1:</strong>  Darkness Singularity (17), Dream Jam (21) -> Night After Night (10), Diana (5), The Waltz (13)</h3>
<p class="chucks-dream"><strong>Chuck's Dream:</strong> <em></em></p>
<h3 class="setlist-header"><strong>Set 2:</strong>  Stratus (9), Back in L.A. (4), Pursuit of Trance (24) > Can't Catch Me Now (5) > Slip and Squander (10) > Ain't That Wrong (13)</h3>
<h3 class="setlist-header"><strong>Encore:</strong>  Tainted Love (8)</h3>
<hr class="section-divider">
<p class="show-notes"><em>This was the 21st show of the 2025 Summer Tour and the second night of a two-night stand at Woodlands Tavern. <strong>Darkness Singularity</strong> contained an xxx tease. <strong>Dream Jam</strong> contained a <strong>Night After Night</strong> tease. <strong>Pursuit of Trance</strong> contained a Drinking Out of Cups (Dan Deacon) sample from Cory.</em></p>