<h3 class="setlist-header"><strong>Set 1:</strong>  Crazy (5), Funkadelic (22), Tongue N' Groove (9) > Slip and Squander (11) > Down Under (12)</h3>
<p class="setlist-content">Chuck's Dream:</p>
<h3 class="setlist-header"><strong>Set 2:</strong>  Pursuit of Trance (20) > Virtual Bean Dip (8) > Tequila (5) > Dirtbath (29)</h3>
<h3 class="setlist-header"><strong>Encore:</strong>  Frog Gossip (7)</h3>
<hr class="section-divider">
<p class="show-notes"><em>This was the 16th show of the 2025 Summer Tour. Funkadelic contained an xxx tease. Dirtbath contained an xxx tease.</em></p>