<h3 class="setlist-header"><strong>Set 1:</strong>  Funkadelic (13), All My Friends (2) > Bee Jam (17) > Windmill (17), On Fire (9)</h3>
<p class="chucks-dream"><strong>Chuck's Dream:</strong> <em> Pretty</em></p>
<h3 class="setlist-header"><strong>Set 2:</strong>  Night After Night (10) > Red's Jam (21) > Broken Wing (23) > Walls (14)</h3>
<hr class="section-divider">
<p class="show-notes"><em>This was the seventh show of the 2025 Summer Tour. <strong>Funkadelic</strong> contained a Where It's At (Beck) tease from Cory. <strong>Bee Jam</strong> contained <strong>Funkadelic</strong> and xxxx 10:00 teases from Brian, Rastaman Chant and xxx teases from Shon, and xxxx teases from Cory. <strong>On Fire</strong> featured Alex 'Gator' Petropolous on drums.</em></p>